#  ðŸ“Š Global Superstore Interactive Sales Dashboard

## ðŸ“ŒProject Overview:
This project is part of my **7-Day Data Science Challenge (Day 2)** and focuses on building an **interactive sales dashboard** using the Global Superstore dataset. The dashboard allows users to explore sales performance across categories, regions, and time periods with interactive charts and KPIs. It helps business stakeholders quickly identify trends, high-performing segments, and areas for improvement.

### Load & Inspect Data

In [2]:
import pandas as pd
import plotly.express as px
import streamlit as st
df = pd.read_csv('Sample - Superstore.csv',encoding='latin1')

In [3]:
df.shape

(9994, 21)

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [6]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [7]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

### Data Preparation

In [8]:
df.columns = df.columns.str.lower().str.replace(' ','_')
df['order_date'] = pd.to_datetime(df['order_date'], errors = 'coerce')
df['ship_date'] = pd.to_datetime(df['ship_date'], errors = 'coerce')
df['year'] = df['order_date'].dt.year
df['month']= df['order_date'].dt.month


### Interactive Dashboard Components

In [9]:
total_profit = df['profit'].sum()
total_sales = df['sales'].sum()
no_of_orders = df['order_id'].count()

print(' The total profit is :',total_profit)
print('The total sales is :',total_sales)
print('The number of orders is:',no_of_orders)

 The total profit is : 286397.0217
The total sales is : 2297200.8603000003
The number of orders is: 9994

In [10]:
# Streamlit UI
st.title("ðŸ“Š Global Superstore Dashboard")

# Filters
year_filter = st.sidebar.multiselect("Select Year", sorted(df['year'].unique()))
region_filter = st.sidebar.multiselect("Select Region", sorted(df['region'].unique()))
category_filter = st.sidebar.multiselect("Select Category", sorted(df['category'].unique()))

2025-08-14 15:38:45.257 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.441
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\rohan\AppData\Local\Programs\Python\Python312\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-08-14 15:38:45.442 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.443 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.444 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.444 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.445 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.446 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.446 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.447 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.449 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.451 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.451 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.452 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.452 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.453 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.454 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.455 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.456 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.456 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.457 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:45.458 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [11]:
# Apply filters
filtered_df = df.copy()
if year_filter:
    filtered_df = filtered_df[filtered_df['year'].isin(year_filter)]
if region_filter:
    filtered_df = filtered_df[filtered_df['region'].isin(region_filter)]
if category_filter:
    filtered_df = filtered_df[filtered_df['category'].isin(category_filter)]

In [12]:
# KPI Cards
total_sales = filtered_df['sales'].sum()
total_profit = filtered_df['profit'].sum()
total_orders = filtered_df['order_id'].nunique()

In [13]:
# Charts
# Sales by Category
fig1 = px.bar(filtered_df.groupby('category')['sales'].sum().reset_index(),
              x='category', y='sales', title='Sales by Category')
st.plotly_chart(fig1)

# Monthly Sales Trend
fig2 = px.line(filtered_df.groupby(['year','month'])['sales'].sum().reset_index(),
               x='month', y='sales', color='year', title='Monthly Sales Trend')
st.plotly_chart(fig2)

# Profit Share by Segment
fig3 = px.pie(filtered_df, values='profit', names='segment', title='Profit Share by Segment')
st.plotly_chart(fig3)

# Sales by Country (Geo Map)
fig4 = px.scatter_geo(filtered_df, locations="country", locationmode="country names",
                      size="sales", title="Sales by Country", projection="natural earth")
st.plotly_chart(fig4)

2025-08-14 15:38:48.844 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.845 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.846 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.846 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.847 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.888 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.888 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.889 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.889 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.890 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.916 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.917 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.918 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.918 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.919 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.944 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.945 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.946 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.947 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-08-14 15:38:48.947 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [ ]:
!streamlit run streamlit_app.py

---